.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
  clip: auto !important;
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: bold;
  height: auto;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000; // above WP toolbar
}

.more-link {
  position: relative;
}

// Menu accessibility

.menu .menu-item {
  &:focus {
    position: static;
  }

  & > a:focus + ul.sub-menu,
  &.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

// Skip links

.genesis-skip-link {
  margin: 0;
}

.genesis-skip-link li {
  height: 0;
  list-style: none;
  width: 0;
}

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px;
}
