// Common Classes

// Avatar

.avatar {
  float: left;

  .alignleft &,
  .author-box & {
    margin-right: 24px;
  }

  .alignright & {
    margin-left: 24px;
  }

  .comment & {
    margin: 0 16px 24px 0;
  }
}

// Genesis

.breadcrumb {
  margin-bottom: 20px;
}

.archive-description,
.author-box {
  background-color: $body-background-color;
  font-size: 16px;
  margin-bottom: 40px;
  padding: 0;

  @include susy-breakpoint($breakpoint-m) {
    padding: 40px;
  }
}

.author-box-title {
  font-size: 16px;
  margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

// Search Form

.search-form {
  overflow: hidden;
}

.site-header .search-form {
  float: right;
  margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
  width: 50%;
}

.genesis-nav-menu .search [type="submit"],
.widget_search [type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Titles

.archive-title {
  font-size: 20px;
}

.entry-title {
  font-size: 36px;

  a {
    color: $link-active-color;

    &:hover {
      color: $link-color;
    }
  }
}

.widget-title {
  font-size: 18px;
  margin-bottom: 20px;

  .sidebar & a {
    color: $link-active-color;
  }

  .footer-widgets & {
    color: $footer-active-color;
  }
}

// WordPress

.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

.aligncenter img {
  display: block;
  margin: 0 auto;
}

a {
  &.alignleft,
  &.alignnone,
  &.alignright {
    max-width: 100%;
  }

  &.alignnone {
    margin-bottom: 12px;
  }
}

a,
img,
.wp-caption {
  &.alignleft {
    margin: 0 24px 24px 0;
  }

  &.alignright {
    margin: 0 0 24px 24px;
  }
}

.wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  text-align: center;

  .entry-content & {
    margin-bottom: 0;
  }
}

.content .sticky {
  @include susy-breakpoint($breakpoint-m) {
    border: 1px solid $color-highlight;
  }
}
