// Content Area

// Entries

.entry {
  margin-bottom: 40px;
  padding: 0;

  @include susy-breakpoint($breakpoint-m) {
    padding: 50px 60px;
  }
}

.content .entry {
  background-color: $body-background-color;
}

.entry-content {
  ol,
  ul {
    margin-bottom: 28px;
    margin-left: 40px;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
  }

  ol > li {
    list-style-type: decimal;
  }

  ul > li {
    list-style-type: disc;
  }

  code {
    background-color: $code-background-color;
    color: $code-text-color;
  }
}

// Entry Meta

.entry-meta {
  font-size: 16px;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-footer .entry-meta {
  border-top: 2px solid #f5f5f5;
  padding-top: 24px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

// Pagination

.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;

  a {
    background-color: $button-color;
    color: $button-text-color;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
    padding: 8px 12px;
    text-decoration: none;

    @include susy-breakpoint($breakpoint-m) {
      margin-bottom: 0;
    }
  }
}

.archive-pagination li a:hover,
.archive-pagination .active a {
  background-color: $button-active-color;
}

// Comments

.comment-respond,
.entry-comments,
.entry-pings {
  background-color: $body-background-color;
  margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
  padding: 0;

  @include susy-breakpoint($breakpoint-m) {
    padding: 40px 40px 16px;
  }
}

.entry-comments {
  padding: 0;

  @include susy-breakpoint($breakpoint-m) {
    padding: 40px;
  }

  .comment-author {
    margin-bottom: 0;
  }
}

.comment-header {
  font-size: 16px;
}

.comment {
  background-color: $body-background-color;
  border: 2px solid #fff;
  border-right: 0;
}

.comment-content {
  clear: both;
}

.comment-list .comment {
  margin-left: 32px;
  margin-top: 24px;

  article {
    margin-left: -32px;
    padding: 32px;
  }
}

.comment-respond {
  [type="email"],
  [type="text"],
  [type="url"] {
    width: 50%;
  }

  label {
    display: block;
    margin-right: 12px;
  }
}

.entry-pings .reply {
  display: none;
}

.bypostauthor {
  > article {
    border: 1px solid $color-highlight;
  }
}

.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: 16px;
  padding: 24px;
}
