// Footer Widgets

.footer-widgets {
  background-color: $footer-background-color;
  clear: both;
  color: $footer-color;
  padding-top: 40px;

  a {
    color: $footer-color;

    &.button,
    &:hover {
      color: $footer-active-color;
    }
  }

  input {
    border: 1px solid #333;
  }

  li {
    border-bottom: $footer-border;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .widget {
    margin-bottom: 40px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  @include span(full);

  @include susy-breakpoint($breakpoint-l) {
    @include span(4 of 12);

  }
}

.footer-widgets-3 {
  @include last;
}

// Site Footer

.site-footer {
  background-color: $body-background-color;
  font-size: $footer-font-size;
  line-height: $footer-line-height;
  padding: 40px 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}
