// Forms

input,
select,
textarea {
  background-color: $input-background-color;
  border: $input-border;
  color: $input-text-color;
  font-size: $input-text-font-size;
  font-weight: $input-text-font-weight;
  padding: 16px;
  width: 100%;

  &:focus {
    background-color: $input-active-background-color;
    border: $input-active-border;
    color: $input-active-text-color;
    outline: none;
  }
}

[type="checkbox"],
[type="image"],
[type="radio"] {
  width: auto;
}

::placeholder {
  color: $input-placeholder-text-color;
  font-weight: 300;
  opacity: 1;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
.button {
  background-color: $button-color;
  border: 0;
  color: $button-text-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;

  .footer-widgets & {
    background-color: $alt-button-color;
    color: $alt-button-text-color;
  }

  &:hover {
    background-color: $button-active-color;
    color: $button-active-text-color;
  }
}

.entry-content .button:hover {
  color: $button-active-text-color;
}

.footer-widgets button:hover,
.footer-widgets :hover[type="button"],
.footer-widgets :hover[type="reset"],
.footer-widgets :hover[type="submit"],
.footer-widgets .button:hover {
  background-color: $alt-button-active-color;
  color: $alt-button-active-text-color;
}

.button {
  display: inline-block;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button {
  display: none;
}
