/**
 * Exponentiation function.
 * @param  {Number} $b Base value.
 * @param  {Number} $n Power value.
 * @return {Number}    Result.
 */
@function power ($b, $n) {
  $result: 1;

  @if $n >= 0 {
    @for $i from 1 through $n {
      $result: $result * $b;
    }
  } @else {
    @for $i from $n to 0 {
      $result: $result / $b;
    }
  }

  @return $result;
}
