// Gallery

.gallery {
  overflow: hidden;

  img {
    border: 1px solid #ddd;
    height: auto;
    padding: 4px;

    &:hover {
      border: 1px solid #999;
    }
  }
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

.gallery-columns-2 .gallery-item { @include gallery(1 of 2); }

.gallery-columns-3 .gallery-item { @include gallery(1 of 3); }

.gallery-columns-4 .gallery-item { @include gallery(1 of 4); }

.gallery-columns-5 .gallery-item { @include gallery(1 of 5); }

.gallery-columns-6 .gallery-item { @include gallery(1 of 6); }

.gallery-columns-7 .gallery-item { @include gallery(1 of 7); }

.gallery-columns-8 .gallery-item { @include gallery(1 of 8); }

.gallery-columns-9 .gallery-item { @include gallery(1 of 9); }
