// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 10px;
}

h1 {
  font-size: $heading-font-size;
}

h2 {
  font-size: $heading-font-size * power(.85, 1);
}

h3 {
  font-size: $heading-font-size * power(.85, 2);
}

h4 {
  font-size: $heading-font-size * power(.85, 3);
}

h5 {
  font-size: $heading-font-size * power(.85, 4);
}

h6 {
  font-size: $heading-font-size * power(.85, 5);
}
