// Site Header

.site-header {
  background-color: $body-background-color;
  min-height: 160px;
  padding: 0;

  .wrap {
    padding: 20px gutter();

    @include susy-breakpoint($breakpoint-l) {
      padding: 40px 0;
    }
  }
}

// Title Area

.title-area {
  @include span(full);
  padding: 10px 0;

  @include susy-breakpoint($breakpoint-l) {
    @include span(6 of 12);
  }

  .header-full-width & {
    @include span(full);
  }
}

.site-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;

  a,
  a:hover {
    color: #333;
    text-decoration: none;
  }

  .header-image & > a {
    background: url("public/images/logo.png") no-repeat left;
    float: left;
    min-height: 60px;
    width: 100%;
  }
}

.site-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;
  text-align: center;

  @include susy-breakpoint($breakpoint-l) {
    text-align: left;
  }

  .header-image & {
    display: block;
    text-indent: -9999px;
  }
}

@include susy-breakpoint(max-width $breakpoint-l) {
  .site-header .search-form {
    float: none;
    margin: 16px auto;
    text-align: center;
  }

  .header-image .title-area {
    background-position: center top;
    text-align: center;
  }
}

// Widget Area

.site-header .widget-area {
  @include span(full);

  text-align: right;

  @include susy-breakpoint($breakpoint-l) {
    @include span(6 of 12 last);
  }
}
