// Bootstrap-compatible mixins for Genesis.

@mixin bs-span ($span) {
  @include span($span);
  margin-left: gutter();
  margin-right: 0;
}

@mixin bs-first {
  @include first;
  margin-left: 0;
}

@mixin bs-last {
  @include last;
  margin-left: gutter();
  margin-right: 0;
}
