// Plugins

// Genesis eNews Extended

.enews-widget input {
  font-size: 16px;
  margin-bottom: 16px;
}

.enews-widget [type="submit"] {
  margin: 0;
  width: 100%;
}

.enews form + p {
  margin-top: 24px;
}

@include susy-breakpoint($breakpoint-m) {
  .enews-widget,
  .enews-widget .widget-title {
    color: #fff;
  }

  .sidebar .widget.enews-widget {
    background-color: #333;
    padding: 40px;
  }

  .enews-widget input,
  .enews-widget input:focus {
    border: 1px solid #333;
  }

  .enews-widget [type="submit"] {
    background-color: #e5554e;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #333;
    }
  }
}
