// Sidebars

.sidebar {
  font-size: $sidebar-font-size;

  li {
    border-bottom: $sidebar-border;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  p:last-child,
  ul > li:last-child {
    margin-bottom: 0;
  }

  .widget {
    background-color: $sidebar-background-color;
    margin-bottom: 40px;
    padding: 0;

    @include susy-breakpoint($breakpoint-m) {
      padding: 40px;
    }
  }
}
