// Typographical Elements

body {
  background-color: $body-background-color;
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size * .9;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;

  @include susy-breakpoint($breakpoint-m) {
    background-color: darken($body-background-color, 4%);
    font-size: $body-font-size;
  }
}

a,
button,
input:focus,
[type="button"],
[type="reset"],
[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 100ms ease-in-out;
}

::selection {
  background-color: $selection-background-color;
  color: $selection-color;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
}

a:hover {
  color: $link-active-color;
}

p {
  margin: 0 0 28px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}
