$susy: (
  columns:           12,
  container:         1200px,
  global-box-sizing: border-box
);

$breakpoint-xl: 1200px;
$breakpoint-l:  960px;
$breakpoint-m:  800px;

$font-family:                   Lato, sans-serif;
$font-size:                     18px;
$font-weight:                   300;
$line-height:                   1.63;

$font-family-alt:               Lato, sans-serif;
$font-size-alt:                 36px;
$font-weight-alt:               400;
$line-height-alt:               1.2;

$color-background:              #fff;
$color-highlight:               #c3251d;
$color-text:                    #333;

$color-background-alt:          #333;
$color-highlight-alt:           #333;
$color-text-alt:                #fff;

$border:                        1px solid #ddd;
$border-alt:                    1px solid #999;

$body-background-color:         $color-background;
$body-color:                    $color-text;
$body-font-family:              $font-family;
$body-font-size:                $font-size;
$body-font-weight:              $font-weight;
$body-line-height:              $line-height;

$heading-color:                 $color-text;
$heading-font-family:           $font-family-alt;
$heading-font-size:             $font-size-alt;
$heading-font-weight:           $font-weight-alt;
$heading-line-height:           $line-height-alt;

$selection-background-color:    $color-background-alt;
$selection-color:               $color-text-alt;

$link-active-color:             $color-highlight-alt;
$link-color:                    $color-highlight;
$link-decoration:               underline;

$input-active-background-color: #fff;
$input-active-text-color:       $color-highlight-alt;
$input-active-border:           $border-alt;
$input-background-color:        #fff;
$input-placeholder-text-color:  $color-text;
$input-text-color:              $color-text;
$input-text-font-size:          18px;
$input-text-font-weight:        300;
$input-border:                  $border;

$button-active-color:           $color-highlight;
$button-active-text-color:      $color-text-alt;
$button-color:                  $color-highlight-alt;
$button-text-color:             $color-text-alt;

$alt-button-active-color:       $color-background;
$alt-button-active-text-color:  $color-highlight-alt;
$alt-button-color:              $color-highlight;
$alt-button-text-color:         $color-text-alt;

$menu-active-color:             $color-highlight;
$menu-background-color:         $color-background;
$menu-border:                   1px solid #eee;
$menu-color:                    $color-background-alt;
$menu-font-size:                $font-size * .9;
$menu-line-height:              1;

$code-background-color:         $color-background-alt;
$code-text-color:               #ddd;

$sidebar-background-color:      $color-background;
$sidebar-border:                1px dotted #ddd;
$sidebar-font-size:             $font-size * .9;

$footer-active-color:           $color-text-alt;
$footer-background-color:       $color-background-alt;
$footer-color:                  #999;
$footer-border:                 1px dotted #666;
$footer-font-size:              $font-size * .9;
$footer-line-height:            1;
